* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  color: #463f3a;
  background-color: #faf7f0;
  text-align: center;
}

.Content {
  margin: 30px auto;
  padding: 50px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 30%;
}

#Content {
  margin: 30px auto;
  padding: 50px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 30%;
}

footer {
  margin: 0;
  margin: 60px 0 20px;
  text-align: center;
  padding: 0;
}
footer p {
  margin-top: 20px;
  font-size: 0.8rem;
}
footer hr {
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (max-width: 412px) {
  body {
    display: flex;
    flex-flow: column wrap;
  }
  #navbar {
    position: static;
    height: auto;
    width: 100%;
  }
  .nav-link {
    padding: 5px 10px;
  }
  #main-doc {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0 30px 0 10px;
  }
  code {
    width: 100%;
    overflow: auto;
  }
}
